<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489603205667-uj4r5c1nlp94u4v121c7b5cdiu0iv5b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489603205667-uj4r5c1nlp94u4v121c7b5cdiu0iv5b9</string>
	<key>API_KEY</key>
	<string>AIzaSyAnck6u4r-pAKyNIXa5QuUxPmJfbgGGZ98</string>
	<key>GCM_SENDER_ID</key>
	<string>489603205667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Christopher.Food-App</string>
	<key>PROJECT_ID</key>
	<string>foodapp-844dd</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-844dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489603205667:ios:d63217b91926c849353f96</string>
</dict>
</plist>